/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f7f7f7;
  font-size: 1rem;
  line-height: 1.25;
  font-family: Heebo;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

h1 {
  text-align: center;
  font-family: DM Serif Display;
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
}

h3 {
  font-family: Heebo;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.reviews-title {
  text-align: left;
  background: #eeeeee;
  padding: 20px;
}

.block {
  text-align: left;
  background: #ffffff;
  margin-bottom: 20px;
}

.block p {
  padding-bottom: 20px;
}

.underline-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.author {
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}

.author-card {
  padding: 50px 10px 30px 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
}

.card-title {
  padding-top: 25px;
}

.card-content {
  background: white;
}

span {
  color: #b3b3b3;
}

img {
  width: 100%;
}
